@using HR_Program.Domain.DTO
@model List<Employee>


<h1>List of Employees</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>PersonalNumber</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.PersonalNumber</td>
                <td>@employee.Phone</td>
                <td>@employee.Gender</td>
                <td>@employee.Status</td>
            </tr>
        }
    </tbody>
</table>