@model User
@{    ViewData["Title"] = "Registration"; }

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" asp-controller="Home" asp-action="Registration">

                                    <div class="d-flex flex-row align-items-center mb-4 ">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="FirstName" class="form-control" placeholder="Enter first name" />
                                            <label asp-for="FirstName" class="form-label">First Name</label>
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="LastName" class="form-control" placeholder="Enter last name" />
                                            <label asp-for="LastName" class="form-label">Last Name</label>
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="PersonalNumber" class="form-control" placeholder="Enter exactly 11 numbers" />
                                            <label asp-for="PersonalNumber" class="form-label">Personal number</label>
                                            @Html.ValidationMessageFor(model => model.PersonalNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="Email" class="form-control" placeholder="Enter a valid email address" />
                                            <label asp-for="Email" class="form-label">Email</label>
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">

                                        <div class="form-check-inline">
                                            <input asp-for="Gender" class="form-check-input" type="radio" value="Male">
                                            <label asp-for="Gender" class="form-check-label">
                                                Male
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input asp-for="Gender" class="form-check-input" type="radio" value="Female">
                                            <label asp-for="Gender" class="form-check-label">
                                                Female
                                            </label>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                            <input asp-for="DateOfBirth" type="date" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="Password" type="password" class="form-control" />
                                            <label asp-for="Password" class="form-label">Password</label>
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input asp-for="PasswordConfirm" type="password" class="form-control" />
                                            <label asp-for="PasswordConfirm" class="form-label" for="form3Example4cd">Repeat your password</label>
                                            @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" value="@Model" class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                </form>
                                
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="~/img/Logo.png" class="img-fluid" alt="Sample image"/>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $('#datetimepicker2').datetimepicker({
            format: 'L'
        });
    });
</script>